/* ----- START IMPORT ----- */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "m3-token.css";
/* ----- END IMPORT ----- */

/* ----- START NOTICE ----- */

/* TECHIT'S SPACE CSS; VERSION 1.0 */
/* I WOULD LIKE TO INFORM THAT */
/* - THIS CSS MIMIC GOOGLE'S MATERIAL 3 DESIGN */
/* - THIS CSS IS FREE TO USE, FEEL FREE TO USE, IF YOU KNOW HOW TO USE IT BECAUSE I WILL NOT GIVE DIRECTION */

/* ----- END NOTICE ----- */

/* ----- START INITIAL STYLING ----- */
:root {
    --animation-bezier-absoluteEaseInOut: 1,0,0,1;
    --animation-bezier-absoluteInOut: 1,0,0,1;
    --animation-bezier-bounceIn: 0.35, 2, 0.2, 1; /* Best with 500ms */
    --animation-bezier-easeOut: 0.25,1,0.25,1;
    --animation-bezier-easeIn: 0.75,0,0.75,0;
    --animation-duration1: 0.5s;
    --animation-duration2: 0.2s;

    --transition1: all var(--animation-duration2) cubic-bezier(var(--animation-bezier-easeOut));
    --transition2: all var(--animation-duration2) cubic-bezier(var(--animation-bezier-easeIn));
    --transition3: all var(--animation-duration1) cubic-bezier(var(--animation-bezier-easeOut));
    --transition4: all var(--animation-duration1) cubic-bezier(var(--animation-bezier-easeIn));

    --navbar-height: 4rem;
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

body {
    all: unset;
    padding: 0;
    background-color: rgba(var(--md-sys-color-surface));
    color: rgba(var(--md-sys-color-on-surface));
    font-weight: 300;
}

.roboto {
    font-family: Roboto, 'Noto Sans Thai Looped', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.heading {
    @apply text-5xl sm:text-7xl font-bold;
    font-family: "Fraunces", 'Noto Sans Thai Looped', serif;
}

.heading2 {
    @apply text-4xl sm:text-5xl font-bold;
    font-family: "Fraunces", 'Noto Sans Thai Looped', serif;
}

.big-text {
    @apply text-lg md:text-xl;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Fraunces", 'Noto Sans Thai Looped', serif;
    margin: 0;
    font-style: normal;
    font-weight: bold;
}
h1 {
    font-size: 40px;  /* or 2em */
}
h2 {
    font-size: 36px;  /* or 1.5em */
}
h3 {
    font-size: 32px;  /* or 1.17em */
}
h4 {
    font-size: 24px;  /* or 1em */
}
h5 {
    font-size: 16px;  /* or 0.83em */
}
h6 {
    font-size: 12px;  /* or 0.67em */
}
pre, code, tt, samp, .font-mono {
    font-family: "Roboto Mono", monospace;
}
:focus {
    outline: none;
}

/* Apply custom focus ring only for keyboard navigation */
:focus-visible {
    outline: 2px solid rgba(var(--md-sys-color-primary));
    outline-offset: 2px;
}
/* ----- END INITIAL STYLING ----- */

/* ----- START MAIN STYLING ----- */
.main-div {
    margin-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
}
.i9d2 {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.head {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--md-sys-color-primary));
    color: rgba(var(--md-sys-color-on-primary));
}
.container {
    @apply w-full max-w-[60rem] md:max-w-[72rem] gap-2 flex flex-col py-8 px-4 md:py-12 md:px-8;
}
ul {
    margin: 0 0 0 1.25rem;
}
/* ----- END MAIN STYLING ----- */

/* ----- START CUSTOM STYLING ----- */
.topbar {
    overflow-x: hidden;
    display: flex;
    height: var(--navbar-height);
    width: 100%;
    flex-direction: column;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    align-items: center;
    background: rgba(var(--md-sys-color-surface));
    border-bottom: 1px solid rgba(var(--md-sys-color-outline-variant));
    .topbar-container {
        @apply w-full max-w-[60rem] md:max-w-[72rem] gap-2 flex flex-col px-4 md:px-8;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .topbar-navitem {
        position: relative;
        overflow: hidden;
        user-select: none;
        cursor: pointer;
        display: inline-flex;
        flex-direction: row;
        gap: 0.5rem;
        height: 40px;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0.25rem 0.75rem;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        text-decoration: none;
        color: rgba(var(--md-sys-color-on-surface));
        transition: var(--transition1);
    }
    .topbar-navitem:hover {
        opacity: 0.9;
    }
    .topbar-navitem:active {
        opacity: 0.8;
    }
    .topbar-navitem.active {
        font-weight: 500;
        color: rgba(var(--md-sys-color-primary));
    }
}


.drawer-actual-toggle {
    height: 48px!important;
    width: 48px;
    border-radius: 50%!important;
    padding: 0!important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 24px!important;
}
.drawer-actual-toggle:hover {
    opacity: 0.9;
}
.drawer-actual-toggle:active {
    scale: 0.95;
    opacity: 0.8;
}
.drawer-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.drawer {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(105%);
    max-width: 300px;
    width: 100%;
    height: 100vh;
    background: rgba(var(--md-sys-color-surface-container-low));
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    transition: var(--transition3);
    border-radius: 16px 0 0 16px;
}

.drawer-content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    align-items: end;
}

.drawer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    gap: 0.5rem;
    color: rgba(var(--md-sys-color-on-surface-variant));
}
.drawer-item:hover {
    background: rgba(var(--md-sys-color-on-surface),0.12);
}
.drawer-item:active {
    background: rgba(var(--md-sys-color-on-surface),0.08);
}
.drawer-item.active {
    font-weight: 500;
    background: rgba(var(--md-sys-color-secondary-container));
    color: rgba(var(--md-sys-color-on-secondary-container));
}

.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 999;
    pointer-events: none;
}

/* Animation */
.drawer-toggle:checked ~ .drawer {
    transition: var(--transition3);
    transform: translateX(0%);
}

.drawer-toggle:checked ~ .drawer-overlay {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.card {
    position: relative;
    border-radius: 0.75rem;
    overflow: hidden;
    background: rgba(var(--md-sys-color-surface));
    .cover {
        background: rgba(var(--md-sys-color-surface));
        overflow: hidden;
        border-radius: 0.75rem;
        aspect-ratio: 5 / 3;
    }
    .content {
        color: rgba(var(--md-sys-color-surface-tint));
        padding: 1rem;
    }
}

.card-outline {
    @apply hover:shadow-lg;
    border: 1px solid rgba(var(--md-sys-color-outline-variant));
    transition: var(--transition1);
    .content {
        color: rgba(var(--md-sys-color-on-surface));
    }
}

.link {
    color: rgba(var(--md-sys-color-primary));
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    user-select: none;
    height: 40px;
    font-size: 15px;
    display: inline-flex;
    flex-direction: row;
    gap: 0.5rem;
    position: relative;
    align-items: center;
    padding: 0.25rem 1.5rem;
    border-radius: 20px;
    background: rgba(var(--md-sys-color-primary));
    color: rgba(var(--md-sys-color-on-primary));
    cursor: pointer;
    transition: var(--transition1);
    overflow: hidden;
    --btn-ripple-color: rgba(var(--md-sys-color-on-primary),0.5);
}
.btn-outline {
    background: transparent;
    color: rgba(var(--md-sys-color-primary));
    border: 1px solid rgba(var(--md-sys-color-outline));
}
.btn-outline:hover {
    @apply shadow-lg;
}
.btn-outline:focus {
    border: 1px solid rgba(var(--md-sys-color-primary));
}
.btn-tonal {
    background: rgba(var(--md-sys-color-secondary-container));
    color: rgba(var(--md-sys-color-on-secondary-container));
}
/* ----- END CUSTOM STYLING ----- */