---

import Layout from "../layouts/Layout.astro";---
<Layout
        title="Contact | Techit Thawiang"
        description="Contact me"
        ogTitle="Various way to contact Techit"
        ogDescription="Contact Techit"
        ogUrl="https://techit.win/contact"
>
    <main>
        <section class="head">
            <div class="container md:text-start">
                <p class="heading">Contact</p>
                <p class="text-xl">How to contact Techit 101.</p>
            </div>
        </section>
        <section class="i9d2">
            <div class="container md:text-start">
                <p class="text-xl">Not sure if you're here to get in touch or just exploring the site, but either way, I'd love to hear from you! Here's how you can contact and follow me.</p>
            </div>
            <div class="container md:text-start">
                <h3>Social Media</h3>
                <section class="flex flex-row flex-wrap gap-2">
                    <a target="_blank" rel="noreferrer noopener nofollow" class="btn" href="https://instagram.com/techitwinner">Instagram</a>
                    <a target="_blank" rel="noreferrer noopener nofollow" class="btn" href="https://facebook.com/techitwinner">Facebook</a>
                    <a target="_blank" rel="noreferrer noopener nofollow" class="btn" href="https://keybase.io/techitwinner">Keybase</a>
                    <a target="_blank" rel="noreferrer noopener nofollow" class="btn" href="https://github.com/techitwinner">GitHub</a>
                    <a target="_blank" rel="noreferrer noopener nofollow" class="btn" href="https://x.com/techitwinner">X (Twitter)</a>
                </section>
            </div>
            <div class="container md:text-start">
                <h3>or... E-mail addresses</h3>
                <section class="flex flex-col text-xl">
                    <p style="margin:0;">techit<span style="color:rgb(var(--md-sys-color-primary))">[at]</span>dailitation<span style="color:rgb(var(--md-sys-color-primary))">[dot]</span>xyz</p>
                    <p style="margin:0;">techitwinner<span style="color:rgb(var(--md-sys-color-primary))">[at]</span>gmail<span style="color:rgb(var(--md-sys-color-primary))">[dot]</span>com</p>
                </section>
            </div>
        </section>
    </main>
</Layout>