---
import Layout from "../../layouts/Layout.astro";
---

<Layout
        title="Projects | Techit Thawiang"
        description="Collection of my projects, contribution & stuff."
        ogTitle="Techit's Projects and Contribution"
        ogDescription="Collection of my projects & stuff."
        ogUrl="https://techit.win/projects"
>
    <main>
        <section class="head">
            <div class="container">
                <p class="heading">Projects</p>
                <p class="text-xl">Collection of my projects, contribution & stuff.</p>
            </div>
        </section>
        <section class="i9d2">
            <div class="container">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
                    <a href="/projects/mc-thaifixes" class="card card-outline">
                        <div class="cover items-center justify-center flex">
                            <img alt="" class="max-w-24 max-h-24 w-full h-full absolute z-10 rounded-md shadow-lg" src="https://cdn.modrinth.com/data/4ZcZ2Fy5/a6f95dceb666deeffb64e0d46ee52aabdd816ab0.png"/>
                            <img alt="" class="blur-md w-full h-full scale-110" src="https://files.techit.win/images/site/mc-thaifixes.png"/>
                        </div>
                        <div class="content">
                            <p class="text-xl font-bold">Techit's ThaiFixes</p>
                            <p>A Minecraft Resource Pack created for fixing ugly, hard-to-read, small Thai font in Minecraft 1.21+</p>
                        </div>
                    </a>
                    <a href="https://discord.gg/dtDTDHWRf3" class="card card-outline">
                        <div class="cover items-center justify-center flex">
                            <img alt="" class="max-w-24 max-h-24 w-full h-full absolute z-10 rounded-md shadow-lg" src="https://files.techit.win/images/logos/jzcraft/JZStoneBricks.png"/>
                            <img alt="" class="blur-md w-full h-full scale-110" src="https://files.techit.win/images/logos/jzcraft/JZStoneBricks.png"/>
                        </div>
                        <div class="content">
                            <p class="text-xl font-bold">JzCraft</p>
                            <p>Co-maintained with DisketteGuy and our staff — an ordinary Minecraft server aiming to build a mini games community. The server is in development, with a release targeted for 2025. Join our Discord for updates!</p>
                        </div>
                    </a>
                    <a href="https://github.com/techitwinner/coinbag-pro" class="card card-outline">
                        <div class="cover items-center justify-center flex">
                            <img alt="" class="max-w-24 max-h-24 w-full h-full absolute z-10 rounded-md shadow-lg" src="https://files.techit.win/images/logos/techit.win/coinbagpro.png"/>
                            <img alt="" class="blur-md w-full h-full scale-110" src="https://files.techit.win/images/logos/techit.win/coinbagpro.png"/>
                        </div>
                        <div class="content">
                            <p class="text-xl font-bold">Coinbag Pro</p>
                            <p>I designed this typeface using the FontLab app to give it a natural, handwriting-like appearance. It's open-source, so anyone can contribute (I’m still learning and could use some help improving it!). Check out the link to contribute and be part of the project!</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
</Layout>
